body{
    padding: 0px;
    margin: 0px;
    background:url("backgroundImg.png");
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

a{
    text-decoration:none;
}

footer {
    border-top: 1px solid black;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
    background-color: rgba(102, 102, 102, 0.9);
}
footer p{
    margin: 2px;
    margin-left: 2px;
}