<!DOCTYPE html>
<html>
  <head>
    <meta lang="ru" charset="utf-8">
    {% if title %}
    <title>InCube :: {{title}}</title>
    {% else %}
    <title>InCube</title>
    {% endif %}
    {% if style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/'+style+'/templates.css') }}">
    {% else %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/default/templates.css') }}">
    {% endif %}
  </head>
  <body>
    <header width="100%" >
      <img >
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      
    </footer>
  </body>
</html>